<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/global.css" type="text/css">
  <link rel="stylesheet" href="styles/views/login/login.css" type="text/css">
  <title>Login</title>
</head>

<body>

  <header>
    <h2>Satisfying.you</h2>
  </header>

  <main>
    <form>
      <label>
        <span>Email</span>
        <input type="email"/>
        <span class="field-error"></span>
      </label>

      <label class="mt-4">
        <span>Password</span>
        <input type="password"/>
        <span class="field-error"></span>
      </label>

      <div class="action-bar">
        <a>Create account</a>
        <button type="submit">Login</button>
      </div>
    </form>
  </main>

</body>

</html>